<div class="row">
  <div class="col-md-10">
    <select
      [(ngModel)]="selectedConference"
      (ngModelChange)="onChangeConference()"
    >
      <option selected value="">--Select a conference--</option>
      <option [value]="conference" *ngFor="let conference of conferences">
        {{ conference }} Conference
      </option>
    </select>
    <select [(ngModel)]="selectedDivision" (ngModelChange)="onChangeDivision()">
      <option selected value="">--Select a division--</option>
      <option [value]="division" *ngFor="let division of divisions">
        {{ division }} Division
      </option>
    </select>
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of filteredTeams">
        {{ team.full_name }}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">
      Track team
    </button>
  </div>
  <div class="col-md-2 container-days">
    <select [(ngModel)]="selectedDays" (ngModelChange)="onChangeDays()">
      <option [value]="day" *ngFor="let day of days">{{ day }} days</option>
    </select>
  </div>
</div>
<div class="row">
  <app-team-stats
    class="col-md-4"
    *ngFor="let team of nbaService.getTrackedTeams()"
    [team]="team"
  >
  </app-team-stats>
</div>
